@import "function";

footer {
  @include section(35vh, $menuColor, 100%);
  width: 100vw;

  ul {
    display: flex;
    margin: 0;
    padding-bottom: 10px;

    li {
      padding: 0 10px;
      list-style: none;
    }

  }
  .footLogos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 50px;
    vertical-align: center;
    margin-top: 3%;
  }

  .footPic {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (max-width: 400px){
    footer {
      ul {
        display: flex;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 20px;

        li {
          padding: 0 10px;
          list-style: none;
        }

      }
    }
}
