header {
  height: fit-content;
  background-color: rebeccapurple;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .logo {
  padding: 20px;
}
header .logo a {
  color: white;
  text-decoration: none;
}

nav {
  margin: auto;
}
nav ul {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-left: 200px;
  line-height: 10vh;
}
nav ul li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 900px) {
  header {
    width: 101vw;
  }
  header .hamburger {
    height: 60px;
    width: 60px;
    position: fixed;
    background-color: transparent;
    border-style: none;
    font-size: 40px;
    color: red;
    right: 40px;
    top: 20px;
    z-index: 1;
    outline: none;
  }
  header nav {
    position: fixed;
    top: -40px;
    right: 0;
    height: 100vh;
    width: 500px;
    background-color: rebeccapurple;
    transform: translateX(100%);
  }
  header nav ul {
    position: absolute;
    top: 50px;
    right: 20px;
    margin-right: 200px;
  }
  header nav ul li a {
    color: white;
    font-size: 25px;
  }
  header .active1 {
    transform: translate(0);
  }

  header nav ul {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }

  header {
    width: 103vw;
    overflow: no-display;
  }
}
footer {
  height: 35vh;
  background-color: rebeccapurple;
  width: 100%;
  width: 100vw;
}
footer ul {
  display: flex;
  margin: 0;
  padding-bottom: 10px;
}
footer ul li {
  padding: 0 10px;
  list-style: none;
}
footer .footLogos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 50px;
  vertical-align: center;
  margin-top: 3%;
}
footer .footPic {
  height: 50px;
  width: 50px;
}

@media only screen and (max-width: 400px) {
  footer ul {
    display: flex;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  footer ul li {
    padding: 0 10px;
    list-style: none;
  }
}
body {
  margin: 0;
  font-family: Arial, serif;
  height: 100vh;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main {
  display: flex;
}
body main .section-one {
  width: 45vw;
  padding: 20px;
  overflow-scrolling: auto;
  min-height: 75vh;
}
body main .section-one {
  min-height: 100vh;
  height: fit-content;
}
body main .section-two {
  height: fit-content;
  width: 45vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
}

h1 {
  padding: 10px;
  color: #6325A1;
}

h2 {
  color: #6325A1;
}

h3 {
  color: #6325A1;
}

p {
  padding: 5px;
  color: grey;
}

.table-section th, .table-section td {
  box-shadow: 1px 1px 1px;
}

@media only screen and (min-width: 1200px) {
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .thinPic {
    display: none;
  }
  body main p {
    padding: 15px;
    margin: 0;
    width: 50vw;
  }
  body main .section-one {
    height: fit-content;
    display: flex;
    width: 90vw;
  }
  body main .section-one img {
    width: 30vw;
    margin: 20px;
  }
  body main .section-one-a {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-one-b {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-one-b img {
    width: 30vw;
    margin: 20px;
  }
  body main .section-two {
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: 90vw;
  }
  body main .section-two img {
    width: 30vw;
    margin: 20px;
  }
  body main .section-two-a {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-two-b {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-two-b img {
    width: 30vw;
    margin: 20px;
  }
}
@media only screen and (min-width: 820px) and (max-width: 1200px) {
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .widePic {
    display: none;
  }
  body main .section-one {
    height: fit-content;
    width: 80vw;
  }
  body main .section-one .section-one-a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-one img {
    height: 40vh;
  }
  body main .section-two {
    height: fit-content;
    width: 80vw;
  }
  body main .section-two .section-two-a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-two img {
    height: 40vh;
  }
}
@media only screen and (min-width: 600px) and (max-width: 820px) {
  body {
    overflow-scrolling: auto;
  }
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .widePic {
    display: none;
  }
  body main .section-one {
    height: fit-content;
    width: 80vw;
  }
  body main .section-one .section-one-a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-one img {
    width: 65vw;
  }
  body main .section-two {
    height: fit-content;
    width: 65vw;
  }
  body main .section-two .section-two-a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-two img {
    width: 80vw;
  }
}
@media only screen and (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
  }
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .widePic {
    display: none;
  }
  body main .section-one {
    min-width: 90vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-one img {
    width: 90vw;
  }
  body main .section-one .mark {
    width: 90vw;
  }
  body main .section-one p {
    padding-top: 10px;
  }
  body main .section-two {
    min-width: 90vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-two img {
    width: 90vw;
  }
}

/*# sourceMappingURL=main.css.map */
